/ioannes*
/build*/
/dist/

.cache/
.zed/
.vscode/

*.o
*.a
*.exe
*.dll
*.out
compile_commands.json

.wraplock
wrapdb.json

/subprojects/packagecache/
/subprojects/imgui*
/subprojects/jansson*
/subprojects/xxHash*
/subprojects/fmt*
!/subprojects/*.wrap
